h1 {
    background: rgb(49,0,64);
    background: radial-gradient(circle, rgba(49,0,64,0.4962359943977591) 0%, rgba(48,46,110,1) 0%, rgba(56,81,145,1) 21%, rgba(95,157,183,1) 54%, rgba(53,118,144,1) 76%, rgba(13,33,40,1) 100%);
    margin: auto;
    width: 50%;
    border-radius:25px;
    box-shadow: 10px 10px 5px grey;
    color:cornsilk;
    font-weight: 300;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    position: fixed;
    
    
  }
